body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background: antiquewhite;
  display: flex;
  margin-bottom: 10px;
}

nav a {
  margin: 0 0 10px 0;
  display: flex;
  padding: 15px 50px;
  list-style-type: none;
  text-decoration: none;
}
