@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;800&display=swap");

* {
    font-family: "Anek Malayalam", sans-serif;
}

#container {
    width: 400px;
    background: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list {
    margin: 15px 0;
}

.list > li {
    background: antiquewhite;
    padding: 5px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.btn {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 5px;
    width: 60px;
}

.deleteBtn {
    width: 18px;
    height: 20px;
    background: red;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.deleteAll {
    background: red;
    color: #fff;
    padding: 7.5px 7.5px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

.edit {
    background: darkblue;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}