.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    border-left: 20px solid transparent;
    background-clip: padding-box;
  }
  
  .my-masonry-grid_column > div { 
    background: #ddd;
    margin-bottom: 20px;
    border-radius: 15px;
  }

  .my-masonry-grid_column > div > a {
    display: block;
    padding: 20px;
    color: #333;
    text-decoration: none;
    transition: all .4s;
  }

  .my-masonry-grid_column > div > a:hover {
    color: #000;
  }

  .character {
    width: 100%;
  }

  .char-name{
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }